/* ==========================================================================
   Structure
   ========================================================================== */

.et_pb_row, .container {
    width: 100%;
    max-width: none;
}
.et_pb_row, .et_pb_column .et_pb_row_inner, .et_pb_section
{
    @include breakpoint(max-width 980px)
    {
        padding: 0;
    }
}

.button
{
    text-align: center;
    margin-top: 2%;
    a
    {
        padding: 1% 7%;
        border-radius: 30px;
        background: yellow;
    }
}

.header {
    
    background-repeat: no-repeat;
    padding: 7.7%;
    
    h2 {
    font-size: 10em;
    color: $blue;
    text-align: end;
        
    }
    
    h5 {
        font-size: 2.5em;
        text-align: end;
        color: $blue;
     
        h5:hover {
            color:red;
        }    
    }
}