/* ==========================================================================
   Contact Page 
   ========================================================================== */

.directions {
    
    background-color: #cfcfcf;
    
    h1 {
        color:white;
        font-size: 8em;
    }
    
    p {
        color: $blue;
    }
}
 