/* ==========================================================================
   Contact Page 
   ========================================================================== */
.contact {  

.map {
        margin-right: 0;
        width: 50%;
    }
    
.become {
        margin-right: 0;
        width: 50%;
        }

.directions {
    
   
    min-height: 400px;
    background-color: #cfcfcf;
    padding: 4.6%;
    
    h1 {
        color:white;
        font-size: 8em;
        text-align: right;
       }
    
    p {
        color: $blue;
        TEXT-ALIGN: right;
        line-height: 1.5;
      }
    
      .button a {
            text-align: center;
            color: #FFF;
                }
        .button a {
            background-color: $red;
                  }
            }
    
   
}

.form {
    
    .title_box {
        margin-bottom: 0;
        
    }
    
 .questions {
     
     h1 {
         font-size: 8em;
         color: $blue;
         padding: 2% 4% 0 4%;
         margin-bottom: 0;
        }
            }
    
    .layout {
        
        padding: 0 5% 0 4%;
        
        .frm_submit {   
            text-align: center;
            padding-bottom: 2%;
            padding-top: 2%;
   
     .frm_button_submit {
            text-align: center;
            color: #FFF;
            font-size: 2.3em;
            font-family:$robo;
            background-color: red;
            padding: .3% 3%;
            border-radius: 30px;
            border: none;
}   
        }
    }
    
    .field_ddcc1 {
           border-bottom: solid #44707b;
           border-top: none;
           border-right: none;
           border-left: none; 
           width: 100%;
           max-width: 100%;
           padding: 6px 10px;
    }
    
    .frm_style_formidable-style.with_frm_style .frm_form_field :invalid :hover {
         border-bottom: solid #44707b;
           border-top: none;
           border-right: none;
           border-left: none; 
           box-shadow: none;
           width: 100%;
           max-width: 100%;
           padding: 6px 10px;
        
      
        }
    
      /*.frm_style_formidable-style.with_frm_style .form-field :focus {
        
            border-color: #44707b;
            box-shadow: none;
    }*/
}