/* ==========================================================================
   Contact Page 
   ========================================================================== */

.directions {
    
      .map {
        margin-right: 0;
        width: 50%;
    }
    
    background-color: #cfcfcf;
    padding: 9%;
    
    h1 {
        color:white;
        font-size: 8em;
    }
    
    p {
        color: $blue;
    }
}
 