/* ==========================================================================
   Home page
   ========================================================================== */


/* Styles for the Home page */

.home {
    header,
    footer {
        display: none;
    }
    .et_pb_section,
    & {
        background-color: #003D4C;
    }
    #Temp-Home {
        .text p {
            line-height: 1.2;
            font-size: 3em;
            color: #FFF;
        }
        .et_pb_row {
            width: 80%;
            max-width: 1080px;
        }
    }
}

.hero {
    .systema {
        h1 {
            color: #588692;
        }
        h1,
        p {
            text-align: center;
        }
    }
}

.about {}

.classes {
    .class {
        width: 25%;
        padding: 20% 0 20%;
        margin-right: 0;
    }
}