/* ==========================================================================
   Typography
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,500,700');
html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
    /* 1em = 10px */
    font-family: $robo;
}

p {
    font-size: 2.2em;
}

/*All Headers are Robo Condensed*/
h1, h2, h3 {
    text-transform: uppercase;
    font-family: $roboCon;
}


/*1em = 10pt*/
h1 {
    margin: 0;
    font-size: 17.6em;
}

h2 {}

h3 {
    font-size: 5.2em;
}

h4 {}

h5 {}