/* ==========================================================================
   Typography
   ========================================================================== */

// Color Variables.

$blue: #003D4C;
$green: #B0BDB0;
$red: #E4002B;

// Font Variables.

$robo: 'Roboto', sans-serif;
$roboCon: 'Roboto Condensed', sans-serif;